# Top-level directories unrelated to the build.
Dockerfile
.*
docs
.circleci
.github
scripts
testnet*
infrastructure

# NPM stuff.
**/node_modules/*

# Go stuff.
vendor
**/gen/*/**/*.go
!pkg/chain/gen/cmd/cmd*.go
