# Hidden files and directories.
.*

# Top-level directories unrelated to the build.
docs
infrastructure
scripts

# Top-level files unrealted to the build.
CODEOWNERS
crytic-config.json
Dockerfile
*.adoc

# NPM stuff.
**/node_modules/*

# Go stuff.
**/gen/*/**/*.go
!pkg/chain/gen/cmd/cmd*.go
