# Hidden files and directories.
.*

# Top-level directories unrelated to the build.
docs*/
infrastructure/
scripts/
tmp/

# Top-level files unrealted to the build.
CODEOWNERS
crytic-config.json
Dockerfile
*.adoc

# NPM stuff.
**/node_modules/*

# Solidity stuff.
solidity-v1/
solidity/

# Token Stakedrop stuff.
token-stakedrop/

# Token Tracker stuff.
token-tracker/

# Go stuff.
**/gen/_contracts
**/gen/**/*.go
!**/gen/gen.go
!**/gen/cmd/cmd.go

# Legacy V1 contracts bindings.
# We won't generate new bindings in the docker build process, but use the existing ones.
!pkg/chain/gen

# Contract addresses.
# We do not want to overwrite extracted contract addresses with empty content while
# coping local root directory to docker image context.
**/gen/_address/*
