node_modules/

artifacts/
build/
cache/
deployments/
export/
export.json

external/npm

typechain/

yarn-error.log

.vscode/

.hardhat/*
!.hardhat/networks_TEMPLATE.ts

# OpenZeppelin
.openzeppelin/unknown-*.json

.env