# MacOS
*.DS_Store

# Executables
/keep-client

# IDEs
.vscode/
.idea/

# Vim
*.swp
*.swo

# Infrastructure
/infrastructure/gcp/service-accounts*

# Keys
keystore/
keep_accounts

# Python and IPython
*.ipynb_checkpoints
__pycache__
*.pyc

# Configuration files
/configs/
!/configs/config.toml.SAMPLE

# Application Working Directory
.keep/

# Private testnet artifacts
*-keep-client-deployment-bundle.tar.gz

# Node
node_modules/

# Yarn
yarn-error.log

# Solidity
/solidity*/**/artifacts/
/solidity*/**/build/
/solidity*/**/cache/
/solidity*/**/typechain/
/solidity*/**/export.json

# Go bindings generator
/pkg/chain/**/gen/_address/
/pkg/chain/**/gen/_contracts/
/pkg/chain/**/gen/abi/*.abi

# Temporary directory
tmp/
diagnostics/