node_modules/
./contracts/solidity/truffle.js
build/
vendor/
_local/
*.swp
*.swo
*.DS_Store
,*
config.toml
config.*.toml
*.config.toml
*.config.*.toml
*.out
*.abi
*.account
pkg/**/gen/*/*.go
!pkg/gen/async/*.go
!pkg/net/gen/pb/*.go
!pkg/chain/gen/cmd/cmd*.go

# Executables
debug
debug.test
keep-core
main
main.test

# IDEs
.vscode/
.idea/

# Infrastructure
.terraform
infrastructure/gcp/service-accounts*
.secrets*

# keys
keystore
keep_accounts

# Python and IPython
*.ipynb_checkpoints
__pycache__
*.pyc


# Private testnet artifacts
*-keep-client-deployment-bundle.tar.gz
keep-client-snapshot.tar
