
# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#  name = "github.com/x/y"
#  version = "2.4.0"

required = ["github.com/gogo/protobuf/protoc-gen-gogoslick", "github.com/ethereum/go-ethereum/cmd/abigen"]

[[constraint]]
  name = "github.com/keep-network/paillier"
  revision = "c9c5d2df026b807d99b63f1d1518ad186e27e233"
  source = "https://github.com/keep-network/paillier"

[[constraint]]
  name = "github.com/dfinity/go-dfinity-crypto"
  revision = "1cfc23c8f712378febdf621f27e49dd67846e901"
  source = "https://github.com/keep-network/go-dfinity-crypto.git"

[[constraint]]
  name = "github.com/BurntSushi/toml"
  revision = "b26d9c308763d68093482582cea63d69be07a0f0"
  source = "https://github.com/keep-network/toml.git"

[[override]]
  name = "github.com/libp2p/go-floodsub"
  revision = "10eaec55ad0fe58b2fb77cbaf01a3760eb8c211b"
  source = "https://github.com/keep-network/go-floodsub.git"

[[override]]
  name = "github.com/multiformats/go-multihash"
  revision = "468a1b73e980e5aff011d308623e43e28c582b16"

[[override]]
  name = "github.com/multiformats/go-multiaddr"
  revision = "123a717755e0559ec8fda308019cd24e0a37bb07"

[[override]]
  name = "github.com/satori/go.uuid"
  revision = "36e9d2ebbde5e3f13ab2e25625fd453271d6522e"

[[constraint]]
  name = "github.com/libp2p/go-libp2p-peer"
  revision = "e8858116ad7f0a54dfc2bb6af554f2024221d19c"
  
[[constraint]]
  name = "github.com/libp2p/go-libp2p-peerstore"
  revision = "7ac092e7f77f5bda1cb6e4ef95efbe911e97db41"

[[constraint]]
  name = "github.com/libp2p/go-libp2p-crypto"
  revision = "18915b5467c77ad8c07a35328c2cab468667a4e8"

[[constraint]]
  name = "github.com/urfave/cli"
  revision = "8e01ec4cd3e2d84ab2fe90d8210528ffbb06d8ff"
  source = "https://github.com/keep-network/cli.git"

[[override]]
  name = "github.com/ipfs/go-datastore"
  revision = "f2426c09e56ae390fc416f21b224c7d7ad13418c"

[[override]]
  name = "github.com/libp2p/go-libp2p-kad-dht"
  revision = "240a27a66982945ba87967a08a6e04b74b228c45"

[[override]]
  name = "github.com/gogo/protobuf"
  revision = "1adfc126b41513cc696b209667c8656ea7aac67c"
  source = "https://github.com/keep-network/protobuf.git"
