/* Black */
@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/roboto-slab/RobotoSlab-Black.ttf') format("truetype");
    font-weight: 900;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/roboto-slab/RobotoSlab-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/roboto-slab/RobotoSlab-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* Light */
@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/roboto-slab/RobotoSlab-Black.ttf') format("truetype");
    font-weight: 300;
    font-style: normal;
}