/* Black */
@font-face {
    font-family: 'Vitesse';
    src: url('./fonts/vitesse/VitesseSSm-Black.otf') format("opentype");
    font-weight: 900;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Vitesse';
    src: url('./fonts/vitesse/VitesseSSm-Bold.otf') format("opentype");
    font-weight: bold;
    font-style: normal;
}

/* Book */
@font-face {
    font-family: 'Vitesse';
    src: url('./fonts/vitesse/VitesseSSm-Book.otf') format("opentype");
    font-weight: 300;
    font-style: normal;
}