/* ExtraBold */
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/work-sans/WorkSans-ExtraBold.ttf') format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/work-sans/WorkSans-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/work-sans/WorkSans-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}


/* Regular */
@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/work-sans/WorkSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}