resources:
  - ../../../../templates/bitcoin/bitcoind

namespace: bitcoin-testnet

commonLabels:
  network: testnet

configMapGenerator:
  - name: bitcoind
    behavior: merge
    literals:
      - chain=test

secretGenerator:
  - name: bitcoind
    behavior: merge
    envs:
      - .env.secret

patches:
  # Patch bitcoind StatefulSet by setting a storage request specific for testnet.
  - target:
      kind: StatefulSet
      name: bitcoind
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: bitcoind
      spec:
        volumeClaimTemplates:
          - metadata:
              name: bitcoind-data
              labels:
                chain: bitcoin
                app: bitcoind
                network: testnet
            spec:
              storageClassName: bitcoind
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
