---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
      type: monitoring
  template:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
        - name: prometheus
          image: prom/prometheus:v2.39.1
          args:
            - --config.file=/etc/prometheus/config.yaml
            - --storage.tsdb.path=/etc/prometheus/data
            - --storage.tsdb.retention.time=1y
          ports:
            - name: prometheus
              containerPort: 9090
          readinessProbe:
            httpGet:
              path: "/-/ready"
              port: 9090
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 2
          livenessProbe:
            httpGet:
              path: "/-/healthy"
              port: prometheus
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 2
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: prometheus-config-volume
              mountPath: /etc/prometheus/
            - name: prometheus-storage-volume
              mountPath: /etc/prometheus/data/
            - name: prometheus-sd-volume
              mountPath: /etc/prometheus/sd/
          securityContext:
            readOnlyRootFilesystem: true
        - name: keep-sd
          image: keepnetwork/keep-prometheus-sd
          args:
            - --output.file=/etc/prometheus/sd/keep-sd.json
            - --source.address=bootstrap-0.test.keep.network:9601
            - --source.address=bootstrap-1.test.keep.network:9601
            - --refresh.interval=5m
            - --log.json
            - --scan.allowPrivateAddresses
          resources:
            limits:
              cpu: 1000m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 256Mi
          volumeMounts:
            - name: prometheus-sd-volume
              mountPath: /etc/prometheus/sd/
          securityContext:
            readOnlyRootFilesystem: true
      volumes:
        - name: prometheus-config-volume
          configMap:
            name: prometheus-config
        - name: prometheus-storage-volume
          persistentVolumeClaim:
            claimName: prometheus-pvc
        - name: prometheus-sd-volume
          emptyDir: {}
