version: 2
jobs:
  test_solidity:
    docker:
      - image: circleci/node:latest
    steps:
        - checkout
        - run: echo "test"
  build_client:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run: |
          docker build .
  generate_docs:
    docker:
      - image: thomasweise/texlive
    steps:
      - checkout
      - run:
          name: Generate Document Files
          command: |
            cd docs
            make clean
            mkdir -p /tmp/docs/img
            make docs
            cp relay-states.pdf /tmp/docs
            cp -r img/generated /tmp/docs/img/generated
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - ./*.pdf
            - img/generated/*.png
  upload_docs:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - attach_workspace:
          at: /tmp/docs
      - run:
          name: Upload Document Files to docs.keep.network
          command: |
            echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ~/gcloud-service-key.json
            gcloud auth activate-service-account --key-file ~/gcloud-service-key.json
            gcloud config set project cfc-production
            cd /tmp/docs
            export DIR=$(test $CIRCLE_BRANCH != master && echo $CIRCLE_BRANCH/)
            gsutil -m cp -r * gs://docs.keep.network/$DIR

workflows:
  version: 2
  solidity:
    jobs:
      - test_solidity
  docs:
    jobs:
      - generate_docs
      - upload_docs:
          requires:
            - generate_docs
  go:
    jobs:
      - build_client
