version: 2
jobs:
  test_solidity:
    docker:
      - image: circleci/node:8
    steps:
        - checkout
        - run: sudo npm install -g ganache-cli
        - run:
            name: Running testrpc
            command: ganache-cli
            background: true
        - run: cd contracts/solidity && npm install && npm run test
  generate_docs_solidity:
    docker:
      - image: ngrinkevich/nodejs-python-solc:latest
    steps:
      - checkout
      - run:
          name: Generate solidity docs
          command: |
            echo "Add baseUrl http://docs.keep.network/$CIRCLE_BRANCH/solidity/ to .doxityrc"
            sed -i '2i "baseUrl": "http://docs.keep.network/'$CIRCLE_BRANCH'/solidity/",' contracts/solidity/docs/.doxityrc
            echo "Add link prefix /$CIRCLE_BRANCH/solidity to .doxityrc"
            find='"linkPrefix": ""'
            replace='"linkPrefix": "\/'$CIRCLE_BRANCH'\/solidity"'
            sed -e "s/${find}/${replace}/g" contracts/solidity/docs/.doxityrc > contracts/solidity/docs/.doxityrc.new
            mv contracts/solidity/docs/.doxityrc.new contracts/solidity/docs/.doxityrc
            cd contracts/solidity && npm install
            cd docs/doxity && npm install
            cd ../../ && make clean
            mkdir -p /tmp/docs && make docs
            cp -r docs/output /tmp/docs/solidity
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - solidity/*
  build_client_and_test_go:
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - v1-{{ .Branch }}
          paths:
            - /caches/client.tar
            - /caches/build_env.tar
      - run:
          name: Load Docker image layer cache
          command: |
            set +o pipefail
            docker load -i /caches/build_env.tar | true
            docker load -i /caches/client.tar | true
      - run:
          name: Run Docker build
          command: |
            docker build --cache-from build_env --target build_env -t build_env .
            docker build --cache-from build_env --cache-from client -t client .
      - run:
          name: Run Go tests
          command: |
            docker run -w /go/src/github.com/keep-network/keep-core build_env go test ./.../
      - run:
          name: Save Docker image layer cache
          command: |
            mkdir -p /caches
            docker save -o /caches/build_env.tar build_env
            docker save -o /caches/client.tar client
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /caches/build_env.tar
            - /caches/client.tar
  generate_docs:
    docker:
      - image: thomasweise/texlive
    steps:
      - checkout
      - run:
          name: Generate Document Files
          command: |
            cd docs
            make clean
            mkdir -p /tmp/docs/img
            make docs
            cp relay-states.pdf /tmp/docs
            cp -r img/generated /tmp/docs/img/generated
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - ./*.pdf
            - img/generated/*.png
  upload_docs:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - attach_workspace:
          at: /tmp/docs
      - run:
          name: Upload Document Files to docs.keep.network
          command: |
            echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ~/gcloud-service-key.json
            gcloud auth activate-service-account --key-file ~/gcloud-service-key.json
            gcloud config set project cfc-production
            cd /tmp/docs
            export DIR=$(test $CIRCLE_BRANCH != master && echo $CIRCLE_BRANCH/)
            gsutil -m cp -r * gs://docs.keep.network/$DIR

workflows:
  version: 2
  solidity:
    jobs:
      - test_solidity
  go:
    jobs:
      - build_client_and_test_go
  docs:
    jobs:
      - generate_docs
      - generate_docs_solidity
      - upload_docs:
          requires:
            - generate_docs
            - generate_docs_solidity
