version: 2.1

executors:
  docker-git:
    docker:
      - image: docker:18.06.0-ce-git
  docker-gcloud-cli:
    docker:
      - image: google/cloud-sdk:slim
  docker-node:
    docker:
      - image: circleci/node:11
  docker-thesis-buildpack:
    docker:
      - image: thesisco/docker-buildpack:bionic

orbs:
  gcp-gcr: circleci/gcp-gcr@0.0.4
  gcp-cli: circleci/gcp-cli@1.8.2

jobs:
  test_solidity:
    executor: docker-node
    steps:
      - checkout
      - run: sudo npm install -g ganache-cli@6.4.2
      - run:
          name: Set up test and test result environment
          command: |
            cd contracts/solidity
            npm install
      - run:
          name: Running testrpc
          command: ganache-cli
          background: true
      - run: cd contracts/solidity && npm run test
      - store_test_results:
          path: /tmp/test-results
  generate_docs_solidity:
    docker:
      - image: keepnetwork/nodejs-python-solc:5
    steps:
      - checkout
      - run:
          name: Generate solidity docs
          command: |
            BRANCH=$(echo $CIRCLE_BRANCH | sed -e 's/\//\\\//g')
            echo "Add baseUrl http://docs.keep.network/$BRANCH/solidity/ to .doxityrc"
            sed -i '2i "baseUrl": "http://docs.keep.network/'$BRANCH'/solidity/",' contracts/solidity/docs/.doxityrc
            echo "Add link prefix /$BRANCH/solidity to .doxityrc"
            find='"linkPrefix": ""'
            replace='"linkPrefix": "\/'$BRANCH'\/solidity"'
            sed -e "s/${find}/${replace}/g" contracts/solidity/docs/.doxityrc > contracts/solidity/docs/.doxityrc.new
            mv contracts/solidity/docs/.doxityrc.new contracts/solidity/docs/.doxityrc
            cd contracts/solidity && npm install
            cd docs/doxity && npm install
            cd ../../ && make clean
            mkdir -p /tmp/docs && make docs
            cp -r docs/output /tmp/docs/solidity
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - solidity/*
  build_client_and_test_go:
    executor: docker-git
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Create test results directory
          command: |
            mkdir -p /tmp/test-results/keep-core-go
      - run:
          name: Run Docker build
          command: |
            docker build --build-arg GITHUB_TOKEN=$GITHUB_TOKEN --target gobuild -t go-build-env .
            docker build --build-arg GITHUB_TOKEN=$GITHUB_TOKEN -t $GCR_REGISTRY_URL/$GOOGLE_PROJECT_ID/keep-client .
      - run:
          name: Run Go tests
          command: |
            docker run -v /tmp/test-results:/mnt/test-results -w /go/src/github.com/keep-network/keep-core go-build-env gotestsum --junitfile /mnt/test-results/unit-tests.xml
            docker run -v /tmp/test-results:/mnt/test-results -w /go/src/github.com/keep-network/keep-core go-build-env cat /mnt/test-results/unit-tests.xml > /tmp/test-results/keep-core-go/unit-tests.xml
      - store_test_results:
          path: /tmp/test-results
      - run:
          name: Save keep-client image
          command: |
            mkdir -p /tmp/keep-client/docker-images
            docker save -o /tmp/keep-client/docker-images/keep-client.tar $GCR_REGISTRY_URL/$GOOGLE_PROJECT_ID/keep-client
      - persist_to_workspace:
          root: /tmp/keep-client
          paths:
            - docker-images
  build_initcontainer:
    executor: docker-git
    steps:
      - attach_workspace:
          at: /tmp/keep-client
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Run Docker build
          command: |
            cp /tmp/keep-client/contracts/* infrastructure/kube/templates/keep-client/initcontainer/provision-keep-client/
            cd infrastructure/kube/templates/keep-client/initcontainer/provision-keep-client/
            docker build \
              --build-arg ETH_HOSTNAME=$ETH_HOSTNAME \
              --build-arg ETH_WS_PORT=$ETH_WS_PORT \
              --build-arg ETH_RPC_PORT=$ETH_RPC_PORT \
              --build-arg ETH_NETWORK_ID=$ETH_NETWORK_ID \
              --build-arg CONTRACT_OWNER_ETH_ACCOUNT_ADDRESS=$CONTRACT_OWNER_ETH_ACCOUNT_ADDRESS \
              -t $GCR_REGISTRY_URL/$GOOGLE_PROJECT_ID/keep-client-initcontainer .
      - run:
          name: Save keep-client-initcontainer image
          command: |
            docker save -o /tmp/keep-client/docker-images/keep-client-initcontainer.tar $GCR_REGISTRY_URL/$GOOGLE_PROJECT_ID/keep-client-initcontainer
      - persist_to_workspace:
          root: /tmp/keep-client
          paths:
            - docker-images
  migrate_contracts:
    executor: docker-thesis-buildpack
    steps:
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Set Gcloud Auth
          command: |
            echo $GCLOUD_SERVICE_KEY_JUMPHOST_SSH > ~/gcloud-service-key.json
            gcloud auth activate-service-account --key-file ~/gcloud-service-key.json
      - run:
          name: Migrate Contracts
          command: |
            export BUILD_TAG=$CIRCLE_SHA1
            export TRUFFLE_NETWORK=$TRUFFLE_NETWORK
            mkdir -p /tmp/keep-client/contracts
            contracts/solidity/scripts/circleci-migrate-contracts.sh
      - persist_to_workspace:
          root: /tmp/keep-client
          paths:
            - contracts
  publish_docker_images:
    executor: gcp-gcr/default
    steps:
      - attach_workspace:
          at: /tmp/keep-client
      - run:
          name: Load Docker images
          command: |
            docker load -i /tmp/keep-client/docker-images/keep-client.tar
            docker load -i /tmp/keep-client/docker-images/keep-client-initcontainer.tar
      - gcp-gcr/gcr-auth:
          google-project-id: GOOGLE_PROJECT_ID
          google-compute-zone: GOOGLE_COMPUTE_ZONE_A
          # This param doesn't actually set anything, leaving here as a reminder to check when they fix it.
          gcloud-service-key: GCLOUD_SERVICE_KEY
      - gcp-gcr/push-image:
          google-project-id: GOOGLE_PROJECT_ID
          registry-url: $GCR_REGISTRY_URL
          image: keep-client-initcontainer
          tag: latest
      - gcp-gcr/push-image:
          google-project-id: GOOGLE_PROJECT_ID
          registry-url: $GCR_REGISTRY_URL
          image: keep-client
          tag: latest
  publish_contract_data:
    executor: gcp-cli/default
    steps:
      - attach_workspace:
          at: /tmp/keep-client
      - gcp-cli/install
      - gcp-cli/initialize:
          google-project-id: GOOGLE_PROJECT_ID
          google-compute-zone: GOOGLE_COMPUTE_ZONE_A
          # This param doesn't actually set anything, leaving here as a reminder to check when they fix it.
          gcloud-service-key: GCLOUD_SERVICE_KEY
      - run:
          name: Upload contract data
          command: |
            cd /tmp/keep-client/contracts
            gsutil -m cp * gs://$GOOGLE_PROJECT_NAME-contract-data/keep-core
  build_staking_dapp:
    executor: docker-node
    steps:
      - attach_workspace:
          at: /tmp/keep-client
      - setup_remote_docker:
          docker_layer_caching: true
      - checkout
      - run:
          name: Copy contract artifacts
          working_directory: ~/project/contracts/solidity/dashboard
          command: |
            ./scripts/copy-contracts.sh /tmp/keep-client/contracts
      - run:
          name: Run Docker build
          working_directory: ~/project/contracts/solidity/dashboard
          command: |
            docker build --tag keep-staking-dapp .
      - run:
          name: Save keep-staking-dapp image
          working_directory: ~/project/contracts/solidity/dashboard
          command: |
            mkdir -p /tmp/keep-staking-dapp/docker-images/
            docker save -o /tmp/keep-staking-dapp/docker-images/keep-staking-dapp.tar keep-staking-dapp
      - persist_to_workspace:
          root: /tmp/keep-staking-dapp
          paths:
            - docker-images
  publish_staking_dapp:
    executor: gcp-gcr/default
    steps:
      - attach_workspace:
          at: /tmp/keep-staking-dapp
      - run:
          name: Load keep-staking-dapp image
          command: |
            docker load -i /tmp/keep-staking-dapp/docker-images/keep-staking-dapp.tar
      - run:
          name: Tag Docker image
          command: |
            docker tag keep-staking-dapp $GCR_REGISTRY_URL/$GOOGLE_PROJECT_ID/keep-staking-dapp
      - gcp-gcr/gcr-auth:
          google-project-id: GOOGLE_PROJECT_ID
          google-compute-zone: GOOGLE_COMPUTE_ZONE_A
          # This param doesn't actually set anything, leaving here as a reminder to check when they fix it.
          gcloud-service-key: GCLOUD_SERVICE_KEY
      - gcp-gcr/push-image:
          google-project-id: GOOGLE_PROJECT_ID
          registry-url: $GCR_REGISTRY_URL
          image: keep-staking-dapp
          tag: latest
  generate_docs_tex:
    docker:
      - image: keepnetwork/texlive:3
    steps:
      - checkout
      - run:
          name: Generate TeX Document Files
          command: |
            cd docs
            make clean
            mkdir -p /tmp/docs/img
            make docs
            cp relay-states.pdf /tmp/docs
            cp -r img/generated /tmp/docs/img/generated
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - ./*.pdf
            - img/generated/*.png
  generate_docs_asciidoctor:
    docker:
      - image: asciidoctor/docker-asciidoctor
    steps:
      - checkout
      - run:
          name: Generate Asciidoctor PDF/HTML Files
          command: |
            set -ex
            shopt -s extglob globstar nullglob
            cd docs
            asciidoctor --failure-level=ERROR *.adoc **/*.adoc
            for a in $(ls *.html **/*.html); do set +x; mkdir -p /tmp/docs/$(dirname $a); cp $a /tmp/docs/$(dirname $a)/; done
            set -x
            asciidoctor-pdf *.adoc **/*.adoc
            for a in $(ls *.pdf **/*.pdf); do set +x; mkdir -p /tmp/docs/$(dirname $a); cp $a /tmp/docs/$(dirname $a)/; done
      - persist_to_workspace:
          root: /tmp/docs
          paths:
            - ./
  upload_docs:
    docker:
      - image: google/cloud-sdk:slim
    steps:
      - attach_workspace:
          at: /tmp/docs
      - run:
          name: Upload Document Files to docs.keep.network
          command: |
            echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ~/gcloud-service-key.json
            gcloud auth activate-service-account --key-file ~/gcloud-service-key.json
            gcloud config set project cfc-production
            cd /tmp/docs
            export DIR=$(test $CIRCLE_BRANCH != master && echo $CIRCLE_BRANCH/)
            gsutil -m cp -r * gs://docs.keep.network/$DIR

workflows:
  version: 2
  solidity:
    jobs:
      - test_solidity
  build-test-migrate-publish-keep-dev:
    jobs:
      - build_client_and_test_go:
          context: keep-dev
      - build_initcontainer:
          filters:
            branches:
              only: master
          context: keep-dev
          requires:
            - migrate_contracts
            - build_client_and_test_go
      - migrate_contracts:
          filters:
            branches:
              only: master
          context: keep-dev
          requires:
            - build_client_and_test_go
      - publish_docker_images:
          filters:
            branches:
              only: master
          context: keep-dev
          requires:
            - build_client_and_test_go
            - build_initcontainer
            - migrate_contracts
      - publish_contract_data:
          filters:
            branches:
              only: master
          context: keep-dev
          requires:
            - build_client_and_test_go
            - migrate_contracts
      - build_staking_dapp:
          requires:
            - migrate_contracts
      - publish_staking_dapp:
          filters:
            branches:
              only: master
          context: keep-dev
          requires:
            - build_staking_dapp
build-test-migrate-publish-keep-test:
    jobs:
      - keep_test_approval:
          type: approval
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build_client_and_test_go:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - keep_test_approval
      - build_initcontainer:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - migrate_contracts
            - build_client_and_test_go
      - migrate_contracts:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - build_client_and_test_go
      - publish_docker_images:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - build_client_and_test_go
            - build_initcontainer
            - migrate_contracts
      - publish_contract_data:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - build_client_and_test_go
            - migrate_contracts
      - build_staking_dapp:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - migrate_contracts
      - publish_staking_dapp:
          context: keep-test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
          requires:
            - build_staking_dapp
  docs:
    jobs:
      - generate_docs_tex
      - generate_docs_asciidoctor
      - generate_docs_solidity
      - upload_docs:
          requires:
            - generate_docs_tex
            - generate_docs_solidity
            - generate_docs_asciidoctor
