{
  "root": true,
  "extends": ["@thesis-co"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["./test/**/*.ts", "hardhat.config.ts", "./tasks/*.ts"] }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "@typescript-eslint/consistent-type-imports": "warn",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index", "type"],
        "newlines-between": "always"
      }
    ],
    "no-await-in-loop": "off"
  }
}
