{
  "root": true,
  "extends": ["@thesis-co"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
