resources:
  - ../../../templates/bitcoin/electrumx

namespace: bitcoin

commonLabels:
  network: mainnet

secretGenerator:
  - name: tbtc-network-cloudflare-origin-cert
    type: kubernetes.io/tls
    files:
      - .secret/ca.crt
      - .secret/tls.crt
      - .secret/tls.key

patches:
  - target:
      kind: Service
      name: electrumx
    patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: electrumx
      spec:
        type: LoadBalancer
        loadBalancerIP: 104.154.128.47
  - target:
      kind: StatefulSet
      name: electrumx
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: electrumx
      spec:
        replicas: 3

generatorOptions:
  disableNameSuffixHash: true
  annotations:
    note: generated
