span.address-shortcut {
    position: relative;
    text-align: center;
    border-radius: 10px;
    transition: all .3s ease-in;

    &:hover {
        cursor: pointer;
        background: @success-bg-color;
    }
}