@import 'vars';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'messages';
@import 'indicator';
@import 'menu-button';
@import 'rewards';
@import 'address-shortcut';
@import 'no-data.less';
@import 'commons.less';
@import 'withdrawal-rewards-history.less';
@import 'tokens-page.less';
@import 'operator-page.less';
@import 'dropdown.less';
@import 'network-status.less';
@import 'step-nav.less';
@import 'modal.less';
@import 'progress-bar.less';
@import 'banner.less';
@import 'tooltip.less';
@import 'datatable.less';
@import 'choose-wallet.less';
@import 'tokens-context-switcher.less';
@import 'delegate-stake-form.less';
@import 'token-grants-page.less';
@import 'choose-wallet-address.less';
@import 'skeletons.less';
@import 'glossary-page.less';
@import 'tags.less';
@import 'copy-stake-page.less';
@import 'badge.less';
@import 'footer.less';
@import 'side-menu.less';
@import 'header.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: @background-color;
}

html, body, #root {
  height: 100vh;
}

ul {
  list-style: none !important;
  padding-left: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: @side-menu-width 1fr;
  grid-template-areas:
    "nav header"
    "nav content";
  background: @background-color;
  overflow: hidden;
  
  > .content-wrapper {
    grid-area: content;
    grid-area: content;
    padding: 1rem;
    padding-top: 2.5rem;
    overflow: scroll;

    > .content {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0 10px 2rem;
    }
    
  }
}

@media screen and (min-width: 576px) {
  // footer {
  //   flex-direction: row;
  //   align-items: flex-start;

  //   ul {
  //     margin: 0 2rem;
  //   }
  
  //   .signature {
  //     margin: 0;
  //     margin-left: auto;
  //     text-align: right;
  //   }
  // }
}

@media screen and (min-width: 700px) {
 .header {
    > .web3 {
      display: flex;
    }
  }

  // .side-menu {
  //   ul > .web3 {
  //     visibility: hidden;
  //   }
  // }
}

@media screen and (min-width: 750px) {
  .header {
    > .account-address {
        display: block;
      }
  }

  // .side-menu {
  //   ul > .account-address {
  //     visibility: hidden;
  //   }
  // }
}

@media screen and (min-width: 1000px) {
  .header {
     > .web3 {
       visibility: visible;
     }
   }

   main {
     > .content-wrapper > .content {
      max-width: 1400px;
     }
   }
}

@media screen and (min-width: 1250px) {
  .header {
    > .logo {
      width: @logo-width;
    }

    > .web3 {
      min-width: 30%;
      justify-content: flex-start;
      margin-right: auto;
    }

    > .account-address {
      margin-right: 1.5rem;
    }

    > .menu-button {
      display: none;
    }
  }

  .side-menu {
    width: @side-menu-width;
    visibility: visible;
    z-index: 10;
    overflow-x: visible;
    
    ul > .account-address, .web3 {
      visibility: hidden;
    }
  }
}