.badge {
    position: relative;
    padding: 2px 10px 2px 22px;
    background-color: @primary-color;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: calc(0.75rem + 2px) solid transparent;
        border-left: 11px solid @white;
        border-bottom: calc(0.75rem + 2px) solid transparent;

    }
}

.badge {
    &--primary {
        .badge();
        background-color: @primary-color;

        &::before {
           border-left-color: @white;
        }
    }

    &__text {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.5rem;

        /* identical to box height, or 200% */
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
    }
}