.wallets-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;

    .wallet {
        width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        margin-bottom: 1rem;
        border: 1px solid @color-grey-20;

        &-type { 
            font-style: normal;
            font-weight: 500;
            font-size: 0.8rem;
            line-height: 145%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-feature-settings: 'tnum' on, 'lnum' on;
            margin-top: 1.5rem;
            margin-bottom: 0.5rem;
            color: @color-grey-40;
        }

        &-description {
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 0.9rem;
            line-height: 145%;
            font-feature-settings: 'tnum' on, 'lnum' on;
            color: @color-grey-60;
            margin-bottom: 1rem;
        }

        &:hover {
            cursor: pointer;

            h4 {
                text-decoration: underline;
            }

            .wallet-img {
                background-color: @primary-color;
            }
        }

        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 50%;
            margin-bottom: 2rem;

            img {
                padding: 1rem;
            }
        }
    }
}