.copy-stake {

    &__layout {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 100vh auto;
        grid-template-areas: "nav content" 
    }

    &__nav {
        grid-area: nav;
        background-color: @white;
    }

    &__content {
        grid-area: content;
        display: flex;
        align-items: center;
        margin-top: 5.5rem;
        margin-right: auto;
        margin-left:  auto;

        // TODO 
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;

        background-color: @color-grey-20;
        overflow: auto;
    }
    
    &__nav__indicator {
        margin-top: 2.5rem;
        margin-left: 2rem;

        .progress-bar {
            bottom: none;
            top: 0;
        }
    }
}

  