.coverage-pool__checklist {
    max-width: unset;
    background-color: @color-mint-20;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    
    .banner__title {
        &:extend(.h3);
    }

    .banner__close-icon {
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
    }

    .checklist-wrapper {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 1000px) {
            margin-top: unset;
            justify-content: space-between;
        }

        .checklist__section {
            margin-top: 1rem;
            flex-basis: 250px;

            > ul.list__content{
                > li.list__item {
                    margin-bottom: 0.25rem;
                    > * {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;
    
                        path {
                            fill: @color-mint-100;
                        }
                    }
                }
            }

            &--notes {
                > ul.list__content {
                    > li.list__item {
                        svg {
                            path {
                                fill: @color-brass;
                            }
                        }
                    }
                }
            }
        }
    }

}

.coverage-pool__overview {
    display: flex;

    &__tvl {
        flex: 1;
    }

    &__apy {
        flex: 1;

        > .apy__values {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.coverage-pool__deposit-wrapper {
    display: grid;
    grid-template-areas:
        "deposit-form   share-of-pool   rewards"
        "deposit-form   banner          banner";

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;

    .coverage-pool__deposit-form {
        grid-area: deposit-form;
        //margin-bottom: 0;

        .deposit-form {
            .deposit-form__token-amount-wrapper {
                background-color: @color-green-bg-light;
                margin: 2rem -2rem;
                padding: 2rem 2rem;
            }
        }
    }

    .coverage-pool__share-of-pool {
        grid-area: share-of-pool;
        margin-bottom: 0;
    }

    .coverage-pool__rewards {
        grid-area: rewards;
        margin-bottom: 0;
    }

    > .coverage-pool__checklist {
        grid-area: banner;
        justify-self: stretch;
        align-self: start;
    }

    .coverage-pool__withdraw-wrapper {
        grid-area: banner;
        justify-self: stretch;
        align-self: start;

        h3 {
            margin: 0 0 5px 0;
        }

        .coverage-pool__token-amount {
            margin-bottom: 2rem;
        }
    }
}

.pending-withdrawal {
    .pending-withdrawal__date {
        display: flex;
        flex-direction: column;
    }

    .pending-withdrawal__progress-bar {
        margin: 5px 0;
        width: 200px;
    }

    .pending-withdrawal__cooldown-status {
        .pending-withdrawal__cooldown-time-container {
            display: flex;
            align-items: center;

            .time-icon {
                margin-right: 0.5rem;
            }
        }
    }

    .pending-withdrawal__button-container {
        display: flex;
        justify-content: flex-end;
    }

}

.withdraw-amount-form__button-text {
    margin: 1rem;
    font-size: 16px;
}