.liquidity-banner {
  margin: 0.8rem 3.2rem;
  padding: 0.8rem 0;
  min-width: 25rem;
  max-width: 100%;
  display: flex;

  svg.liquidity-banner__keep-logo {
    height: 2rem;
    width: 2rem;
    margin: 0 1rem;
  }

  .liquidity-banner__content {
    .liquidity-banner__title{
      font-size: 1.1rem;
      font-weight: 400;
    }

    .liquidity-banner__info {
      margin: 0.3rem 0;
    }
  }
}

.liquidity__card {
  .liquidity__card-title {
    display: flex;
    align-items: center;

    .liquidity__double-icon-container {
      margin-right: 0.5rem;

      .tbtc-eth& {
        .main-icon {
          circle {
            fill: @white;
          }
        }
      }
    }
  }

  .liquidity__card-subtitle {
    margin: 0.3rem 0;

    .liquidity__card-subtitle__tooltip {
      .tooltip__content-wrapper {
        text-align: left;
        min-width: 15rem;
      }
    }
  }

  .liquidity__info {
    display: flex;
    justify-content: center;

    .liquidity__info-tile {
      text-align: center;
      border-radius: 8px;
      padding: 1rem;
      margin: 0 0.2rem;
      height: 9rem;
      width: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .liquidity__info-tile__tooltip {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
        right: 8px;

        .tooltip__content-wrapper {
          text-align: left;
          min-width: 16rem;
        }
      }
    }
  }

  .liquidity__new-user-info {
    background-color: @secondary-color;
    color: @white;
    display: flex;
    padding: 0.7rem 0.5rem;

    .liquidity__rewards-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.2rem 0.5rem;
      flex: 0 0 auto;

      path {
        fill: white;
      }
    }

    .liquidity__new-user-info-text {
      margin: 0 4rem 0 0.5rem;
      font-weight: 500;

      .liquidity-banner__info {
        font-weight: 400;
        margin-bottom: 0.3rem;
      }
    }
  }

  .liquidity__reward-balance {
    margin: 2rem 0;

    .liquidity__reward-balance__title {
      display: block;
      font-weight: 500;
    }

    .liquidity__reward-balance__subtitle {
      display: block;
      margin-bottom: 0.4rem;
      font-weight: 500;
      font-size: 0.7rem;
    }

    .liquidity__reward-balance_values {
      display: flex;
      justify-content: space-between;

      .liquidity__reward-balance_values_label {
        display: flex;
        align-items: center;

        svg {
          height: 1.5rem;
          width: 1.5rem;
          margin-right: 0.4rem;
        }
      }
    }
  }

  .liquidity__add-more-tokens, .liquidity__withdraw {
    margin: 0.5rem 0;
  }

}

.empty-page--liquidity-page {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;

  // Display only one box on the smaller screen to avoid placing `connect wallet btn`
  // below the view port.
  .skeleton__box {
    &:nth-child(2),  &:nth-child(3) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    .skeleton__box {
      &:nth-child(2),  &:nth-child(3) {
        display: block;
      }
    }
  }
}
