.liquidity__card-title-section {
  display: flex;
  align-items: center;

  .liquidity__double-icon-container {
    margin-right: 0.5rem
  }
}

.liquidity-card-subtitle-section {
  margin: 0.3rem 0;
}

.liquidity__info {
  display: flex;
  justify-content: center;
  margin: 1.9rem 0;

  .liquidity__info-tile {
    text-align: center;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 0.2rem;
    height: 9rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.liquidity__token-balance {
  margin: 2rem 0;

  .liquidity__token-balance_title {
    display: block;
    margin: 0.4rem 0;
    font-weight: 500;
  }

  .liquidity__token-balance_values {
    display: flex;
    justify-content: space-between;

    .liquidity__token-balance_values_label {
      display: flex;
      align-items: center;

      svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.4rem;
      }
    }
  }
}

.liquidity__add-more-tokens, .liquidity__withdraw {
  margin: 1rem 0;
}

.liquidity__withdraw {
  .btn {
    background-color: transparent;
    border: 1px solid black;
  }
}

.empty-page--liquidity-page {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;

  // Display only one box on the smaller screen to avoid placing `connect wallet btn`
  // below the view port.
  .skeleton__box {
    &:nth-child(2),  &:nth-child(3) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    .skeleton__box {
      &:nth-child(2),  &:nth-child(3) {
        display: block;
      }
    }
  }
}
