.network-status {
    
    &__indicator {
        &--disconnected, &--connected, &--error {
            width: 12px;
            height: 12px;
            margin-right: 0.5rem;
        }

        &--connected {
            * {
                fill: @color-brand-mint-100;
            }
        }
    
        &--error {
            * {
                fill: @error-color;
            }
        }
    
        &--disconnected {
            * {
                fill: @color-grey-50;
            }
        }
    }

    &__text {
        &--connected {
            color: @color-black;
        }

        &--error {
            color: @error-color;
        }

        &--disconnected {
            color: @color-grey-50;
        }
    }

    &__text--connected, &__text--error, &__text--disconnected {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1rem;
        font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
        text-transform: capitalize;
    }

}