.modal-wrapper__reinitiate-withdrawal {
  width: auto!important;
  max-width: 1000px!important;
  min-width: 700px!important;
  overflow-x: auto!important;

  .modal-content {
  }
}

.reinitiate-withdrawal-modal__container-title {
  margin-bottom: 2rem;
}

.reinitiate-withdrawal-modal__main-container {
  margin: -2rem;
}