#rewards-total-balance {
    flex: 1;
}

#withdraw-dropdown-section {
    flex: 1;

    button {
        margin-top: 1rem;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #rewards-total-balance {
        flex: 0.4;
        max-width: 40%;
    }
    
    #withdraw-dropdown-section {
        flex: 1;

        .withdraw-dropdown {
            display: flex;
            justify-content: space-between;

            .dropdown {
                flex: 1;
                margin-right: 3rem;
            }

            button {
                width: auto;
                flex: unset;
                align-self: flex-end;
            }
        }
    }  
}
