
.rewards__overview--random-beacon {
    display: flex;
    justify-content: space-between;

    > .rewards__overview__period, > .rewards__overview__withdraw {
        align-self: center;
    }

    > .rewards__overview__period {
        .rewards-period__date {
            color: @color-grey-60;
        }

        .rewards-period__remaining-periods {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;

            color: @color-grey-30;

            .time-icon--grey-30 {
                margin-right: 0.5rem;
            }
        }
    }

    > .rewards__overview__withdraw {
        margin: -2rem;
        padding: 4rem;
        border-left: 1px solid @color-grey-20;
    }
}

.rewards-overview--random-beacon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media screen and (min-width: 900px) {
        grid-template-columns: 1.5fr 1fr;
    }
    

    > section:nth-child(2), > section:nth-child(1) {
        align-self: start;
    }

    .stake-drop-chart__tooltip-wrapper {
        pointer-events: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;

        > .stake-drop-chart__tooltip {
            padding: 0.75rem;
            background-color: @color-black;
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 150%;
            color: @white;
            border-radius: 8px;
            width: 120px;

            :after {
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                left: 50%;
                bottom: -8px;
                border: 8px solid transparent;
                border-top-color: @color-black;
                border-bottom: none;
                pointer-events: none;
                margin-left: -8px;
            }

            p {
                margin: 0;
            }   
        }
    }
}

.rewards-overview--ecdsa {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;

    @media screen and (min-width: 900px) {
        grid-template-columns: repeat(2, auto)
    }

    > section:nth-child(2) {
        align-self: start;
    }
}