section.total-rewards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .total-rewards-balance {
        width: 100%;
        border-bottom: 1px solid @color-grey-20;
    }

    .withdraw-dropdown {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    section.total-rewards-section {
        .total-rewards-balance {
            position: relative;
            width: 38%;
            border: none;
            margin-right: 2%;

            &:after {
                content: '';
                position: absolute;
                top: -2rem;
                right: 0;
                width: 1px;
                background-color: @color-grey-20;
                height: calc(100% + 4rem);
            }
        }

        .withdraw-dropdown {
            width: 60%;
        }
    }
}
