body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: @gunmetal;
  line-height: 1.44;

  @media @tablet-up {
    line-height: 1.79;
  }
}

h1, .h1 {
  font-weight: 200;
  font-size: 62px;
}

h2, .h2 {
  font-weight: 200;
  font-size: 50px;
}

h3, .h3 {
  font-weight: 300;
  font-size: 34px;
}

h4, .h4 {
  font-size: 22px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  line-height: 1.38;
}

small, .small {
  font-size: 14px;
  line-height: 1.38;
}

@media @mobile {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    font-size: 30px;
    line-height: 1.33;
  }

  h2, .h2 {
    margin-bottom: 50px;
  }
}

p {
  margin: 0 0 1.4em;
}

a {
  color: @link-color;
}

.small-title {
  font-size: 16px;
  font-weight: 500;
}

.btn {
  padding: 10px 33px;
  border-radius: @border-radius;
}

.btn-default {
  background-color: @white;
  color: @link-color;
  border-color: @white;
}

.btn-primary {
  background-color: @link-color;
  border-color: @link-color;
}

.txt-primary {
  color: @link-color;
}

.btn-default,
.btn-primary,
.btn-primary[disabled],
.btn-primary.disabled {
  transition: 0.25s all ease-in;

  &:hover,
  &:focus,
  &:active,
  &.active.focus,
  &.active,
  &.focus {
    background-color: @link-active-color;
    border-color: @link-active-color;
    color: @white;
  }

  &:focus {
    outline: 0;
  }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.5;
}
