section.wallet-page__overview-layout {
    display: grid;
    grid-template-areas:
        "balance"
        "staked-tokens"
        "stake-form";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin-bottom: 5rem;

    @media @tablet-up {
        grid-template-areas:
        "balance stake-form"
        "staked-tokens stake-form"
        "staked-tokens stake-form"
        ". stake-form";
        grid-template-columns: 1fr 4fr;
    }

    .wallet-page__overview {
        &__balance {
            margin-bottom: 0;
            grid-area: balance;
        }

        &__staked-tokens {
            grid-area: staked-tokens;
            display: flex;
            flex-direction: column;
        }

        &__stake-form {
            grid-area: stake-form;
        }
    }
}