.web3-status {
    &__content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header__content & {
        margin-left: auto;
    }

    &__wallet {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 24px;
        padding: 0 8px;
        background-color: @color-black;
        margin-left: 1rem;
        cursor: pointer;

        &:hover, &--open {
            .wallet__menu {
                opacity: 1;
            }
        }
    }
}

svg.wallet__icon, svg.wallet__icon--active {
    margin-right: 0.5rem;
    path {
        fill: @white;
    }
}

svg.wallet__icon--active {
    path {
        fill: @color-brand-mint-100;
    }
}

.wallet__address, .wallet__address--active {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-feature-settings: 'tnum' on, 'lnum' on, 'zero' on;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @white;
}

.wallet__address--active {
    font-weight: normal;
    text-transform: none;
}

.wallet__menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    min-width: 100%;
    max-height: 150px;
    border-radius: 8px;
    padding: 0.5rem;
    background: @color-black;
    opacity: 0;

    transition: all 0.5s;
    z-index: 1000;

    // top right trinagle
    ::before {
        content: '';
        position: absolute;
        top: -8px;
        right: 12px;
        border: 8px solid transparent;
        border-bottom-color: @color-black;
        border-top: none;
    }

    &__copy-address {
        border-radius: 100px;
        background-color: @color-green-60;
        padding: 2px 8px;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;

        // center against parent
        margin: 0 auto;
    }

    &__divider {
        margin-top: 0.5rem;
        margin-bottom: 0;
        border-top-color: @color-grey-30;
    }

    &__balance {
        font-size: 12px;
        line-height: 17px;
        font-feature-settings: "smcp", "zero";
        color: @white;
        padding: 0.5rem;
    }

    &__disconnect {
        font-size: 0.75rem;
        line-height: 17px;
        font-feature-settings: 'tnum' 1, 'lnum' 1, 'zero' 1;
        color: @white;
        transition: all 0.3s;
        padding: 0.5rem;
        border-radius: 4px;
    }

    &__disconnect:hover {
        background-color: @color-green-bg;
        color: @color-black;
    }
}