.modal-wrapper__initiate-withdrawal {
  width: 1000px!important;
  overflow-x: auto!important;

  .modal-content {
    padding: 0!important;
  }
}

.withdraw-modal__main-container {
  display: flex;

  .withdraw-modal__success-text {
    display: flex;
    align-items: center;
    svg {
      margin: 1rem 1rem 1rem 0;
    }
  }

  .withdraw-modal__data {
    margin-bottom: 2.5rem;
    .withdraw-modal__token-amount{
      margin-bottom: 0.1rem;
    }
    .withdraw-modal__cov-token-amount {
      margin-bottom: 1rem;
    }
    .withdraw-modal__data-row {
      display: flex;
      align-items: center;
      padding: 0.2rem 0;

      .withdraw-modal__data__value {
        margin-left: auto;
      }
    }
  }

  .withdraw-modal__banner {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    max-width: 100%!important;
    .withdraw-modal__banner-icon {
      flex: 0 0 auto;
    }
  }
}