.allocation-progress-bar {
  &__progress-bar-container {
    display: grid;
    grid-template-areas:
      "progress-bar percentage-value"
      "progress-bar-legend empty-grid";
    grid-template-columns: 9fr 1fr;
    align-items: center;
  }

  &__progress-bar-wrapper {
    margin: 0 !important;
    grid-area: progress-bar;
  }

  &__progress-bar-legend {
    grid-area: progress-bar-legend;
  }

  &__progress-bar-legend-item {
    display: inline-flex;
    margin-right: 1rem;

    .legend__item {
      &__dot {
        display: inline-block;
      }

      &__value {
        display: inline;
      }
    }
  }

  &__legend-dot {
    .dot(16px, @primary-color);
    margin-right: 0.3rem;
  }

  &__percentage-value {
    grid-area: percentage-value;
  }
}
