.allocation-progress-bar {
  grid-area: not-staked;
  token-allocation-data {
  }

  &__token-allocation {
  }
  &__progress-bar-container {
    display: flex;
    align-items: center;
  }
  &__progress-bar-wrapper {
    margin: 0 !important;
  }
  &__allocation-percentage-value {
  }
}
