// high emphasis
@color-brand-mint: #48dbb4;
@color-brand-violet: #7850cd;

// medium emphasis
@color-brass: #ac6e16;
@color-black: #0a0806;

// violet-spectrum
@color-brand-violet-10: #f2eefa;
@color-brand-violet-80: #633eb1;
@color-brand-violet-100: #52388a;

// grey spectrum
@color-grey-10: #f6f6f6;
@color-grey-20: #e6e6e6;
@color-grey-30: #c4c4c4;
@color-grey-40: #aaaaaa;
@color-grey-50: #818181;
@color-grey-60: #6d6d6d;
@color-grey-70: #4c4c4c;

// mint spectrum
@color-mint-10: #edfbf7;
@color-mint-20: #c8f4e9;
@color-mint-40: #91e9d2;
@color-mint-80: #12c0a1;
@color-mint-100: #1ba58c;

// brand-violet spectrum
@color-brand-violet-100: #52388a;
@color-brand-violet-80: #6946b4;
@color-brand-violet-40: #ae96e1;
@color-brand-violet-20: #d7cbf0;
@color-brand-violet-10: #f2eefa;

//red spectrum
@color-red-10: #fcf4f4;
@color-red-30: #ffe9e9;
@color-red-60: #de7171;

//yellow spectrum
@color-yellow-10: #fff9f1;
@color-yellow-30: #ffefd9;
@color-yellow-50: #faad14;
@color-yellow-60: #ffce88;
@color-yellow-100: #ff9900;
@color-yellow-400: #ffc53d;
@color-yellow-900: #613400;

// status
@color-green: #118263;
@color-green-bg: #d7f6ee;
@color-red: #b70a0a;
@color-red-bg: #ffe9e9;
@color-brass-bg: #f8e9d3;
@color-brand-mint-100: #1ba58c;

// other
@white: #fff;
@color-yellow-bg: #f8e9d3;
@color-yellow-pending: #ff9900;
@color-brand-violet-bg: #efe8ff;
@color-green-bg-light: #edfffa;
@color-green-60: #169876;

@primary-color: @color-brand-mint;
@secondary-color: @color-brand-violet;
@secondary-bg-color: @color-brand-violet-bg;
@success-color: @color-green;
@success-bg-color: @color-green-bg;
@error-color: @color-red;
@error-bg-color: @color-red-bg;
@pending-color: @color-yellow-pending;
@pending-bg-color: @color-yellow-bg;
@validation-color: @color-brass;
@background-color: @color-grey-20;
@header-color: @white;
@side-menu-color: @color-grey-10;
@success-bg-light-color: @color-green-bg-light;
@uniswap-main-color: #ff007a;

@text-colors: {
  white: @white;
  black: @color-black;
  primary: @primary-color;
  secondary: @secondary-color;
  success: @success-color;
  error: @error-color;
  pending: @pending-color;
  validation: @validation-color;
  grey-10: @color-grey-10;
  grey-20: @color-grey-20;
  grey-30: @color-grey-30;
  grey-40: @color-grey-40;
  grey-50: @color-grey-50;
  grey-60: @color-grey-60;
  grey-70: @color-grey-70;
  mint-10: @color-mint-10;
  mint-20: @color-mint-20;
  mint-40: @color-mint-40;
  mint-80: @color-mint-80;
  mint-100: @color-mint-100;
  violet-100: @color-brand-violet-100;
  violet-80: @color-brand-violet-80;
  violet-40: @color-brand-violet-40;
  violet-20: @color-brand-violet-20;
  violet-10: @color-brand-violet-10;
  // TODO remove brand-violet-100
  brand-violet-100: @color-brand-violet-100;
  yellow-100: @color-yellow-100;
  yellow-900: @color-yellow-900;
};

@bg-colors: {
  success: @success-bg-color;
  error: @error-bg-color;
  pending: @pending-bg-color;
  grey-10: @color-grey-10;
  grey-20: @color-grey-20;
  grey-30: @color-grey-30;
  grey-40: @color-grey-40;
  grey-50: @color-grey-50;
  grey-60: @color-grey-60;
  grey-70: @color-grey-70;
  success-light: @success-bg-light-color;
  mint-10: @color-mint-10;
  mint-20: @color-mint-20;
  mint-40: @color-mint-40;
  mint-80: @color-mint-80;
  mint-100: @color-mint-100;
  yellow-30: @color-yellow-30;
  yellow-400: @color-yellow-400;
  violet-100: @color-brand-violet-100;
  violet-80: @color-brand-violet-80;
  violet-40: @color-brand-violet-40;
  violet-20: @color-brand-violet-20;
  violet-10: @color-brand-violet-10;
  black: @color-black;
};

@directions-shortcuts: {
  r: "right";
  l: "left";
  t: "top";
  b: "bottom";
};

@margin-and-padding-values: 0, 1, 2, 3;

@header-height: 80px;
@min-header-height: 128px;
@side-menu-width: 200px;
@logo-width: 350px;
@footer-min-height: 185px;

// Border radius
@border-radius: 100px;

// Breakpoints
@max-page-width: 1440px;
@mobile: ~"only screen and (max-width: 767px)";
@tablet-up: ~"only screen and (min-width: 768px)";
@md-up: ~"only screen and (min-width: 992px)"; // Bootstrap grid md breakpoint
@sm: ~"only screen and (max-width: 991px)"; // Bootstrap grid sm breakpoint
@xs: ~"only screen and (max-width: 480px)";

// High res
@high-res: ~"only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
       only screen and (    min--moz-device-pixel-ratio: 1.3 ),
       only screen and (      -o-min-device-pixel-ratio: 2.6/2 ),
       only screen and (         min-device-pixel-ratio: 1.3 ),
       only screen and ( min-resolution: 124.8dpi ),
       only screen and ( min-resolution: 1.3dppx )";

.box-shadow(...) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
