.withdraw-granted-tokens {
  &__total-ready-to-release-amount {
    display: inline;
  }

  &__grants-accordion {
    width: 100%;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;

    label {
      &::before,
      &::after {
        margin-top: 1.3rem;
      }
    }

    .accordion {
      &__item {
        display: flex;
        flex-direction: column;
      }

      &__heading {
        border: 1px solid @color-grey-30;
        width: 90%;
        align-self: flex-end;

        &--without-bottom-border {
          border-bottom: none;
        }

        &--full-width {
          width: 100% !important;
        }
      }

      &__button {
        border-bottom: none;
        align-items: center;

        &--cursor-default {
          cursor: default;
        }
      }

      &__panel {
        border: 1px solid @color-grey-30;
        border-top: none;
        width: 90%;
        align-self: flex-end;
        padding: 0.1rem 1rem 0.5rem 1rem;
        animation: none;
        -webkit-animation: none;

        &--full-width {
          width: 100% !important;
        }
      }
    }
  }

  &__details-text {
    margin-left: auto;
    margin-right: 0.5rem;
    font-size: 14px;
    font-weight: 400;
  }

  &__view-more-button {
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-self: center;
    margin: 0 auto;
    font-size: 18px;
    color: @color-brand-violet;
    background: none;
    font-family: "Work Sans";
    font-style: normal;
    font-variant: normal;
    font-feature-settings: normal;

    .button-content {
      display: flex;
      align-items: center;

      svg {
        path {
          fill: @color-brand-violet;
        }
      }
    }
  }
}
