@import 'vars';
@import 'typography';
@import 'buttons';
@import 'forms';
@import 'nav';
@import 'messages';
@import 'web3-status';
@import 'indicator';

.App {
  text-align: center;
  overflow: hidden;
  background-color: @white;
  max-width: @max-page-width;
  margin: 0 auto;
}

.overview {
  margin: 40px 0 40px 0;
}

.staking {
  margin: 40px 0 40px 0;
}

.footer {
  padding: 40px;
}

.tab-pane {
  padding: 15px;
}