button {
  display: inline-block;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0 !important;
  margin: 0;
  text-decoration: none;
  font-variant: small-caps;
  cursor: pointer;
  text-align: center;
  transition: all ease-in-out .25s;

  &:hover:disabled, &hover[disabled] {
    cursor: not-allowed;
  }
}

.btn {
  &-lg {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  &-sm {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  &-primary {
    font-weight: bold;
    letter-spacing: .07rem;
    line-height: 115%;
    background-color: @color-black;
    border-color: @color-black;
    color: @primary-color;

    &:hover:enabled, &:focus {
      color: @white;
    }

    &:active:enabled {
      background-color: @primary-color;
      border-color: @primary-color;
      color: @color-black;
    }

    &:disabled, &[disabled] {
      background-color: @color-grey-20;
      border-color: @color-grey-20;
      color: @color-grey-30;
    }
  }

  &-secondary {
    position: relative;
    font-weight: 500;
    letter-spacing: .05rem;
    line-height: 145%;
    background-color: @white;
    border: 0.5px solid @color-black;
    color: @color-black;

    &:after {
      position: absolute;
      content: "";
      opacity: 0;
      background-color: @color-black;
      width: calc(100% + 1px;);
      height: 3px;
      bottom: -3.5px;
      left: -0.5px;
      transition: all 0.25s ease-in-out;
    }

    &:hover:enabled, &:focus {
      &:after {
        opacity: 1;
      }
    }

    &:active:enabled {
      &:after {
        background-color: @primary-color;
        opacity: 1;
      }
    }

    &:disabled, &[disabled] {
      border-color: @color-grey-20;
      color: @color-grey-20;
    }
  }
}

.button-content {
  &-enter, &-exit {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity .5s ease-in;
    }
  }
}

.btn-transparent {
  background-color: transparent;
  color: @color-black;
  border-color: @color-black;
}

.btn-sm {
  font-size: 0.95rem;
  padding: 6px 14px;
  border-radius: 0;
}

.btn-default {
  font-weight: 500;
  background-color: @white;
  color: @color-black;
  border-color: @color-black;
}

.btn-primary {
  font-weight: bold;
  color: @primary-color;
  background-color: @color-black;
  border-color: @color-black;
}

.btn-success,
.btn-success[disabled] {
  opacity: 1;
  font-weight: bold;
  color: @black;
  background-color: @aqua-marine;
  border-color:  @aqua-marine;

  &:hover,
  &:focus,
  &:active,
  &.active.focus,
  &.active,
  &.focus {
    background-color: @aqua-marine;
    border-color: @aqua-marine;
  }
}

.txt-primary {
  color: @primary-color;
}

.btn-primary,
.btn-primary[disabled],
.btn-primary.disabled {
  transition: 0.25s all ease-in;

  &:hover,
  &:focus,
  &:active,
  &.active.focus,
  &.active,
  &.focus {
    background-color: @color-black;
    border-color: @color-black;
    color: lighten(@primary-color, 25%);
  }

  &:focus {
    outline: 0;
  }
}

.btn-default,
.btn-default[disabled],
.btn-default.disabled {
  transition: 0.25s all ease-in;

  &:hover,
  &:focus,
  &:active,
  &.active.focus,
  &.active,
  &.focus {
    border-color: darken(@white, 10%);
    background-color: darken(@white, 10%);
    color: darken(@color-black, 10%);
  }

  &:focus {
    outline: 0;
  }
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.5;

  &.pending {
    background-color: @black;
    border-color: @black;
  }

  &.pending, .btn-success& {
    opacity: 1;
  }
}
