.messages-container {
    position: fixed;
    z-index: 1000;
    width: 20em;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background: transparent;
    color: black;
}

.message {
	position: relative;
	display: flex;
    padding: .5em 1em;
    margin: 1em;
    
    &.message {
        &-success {
            background-color: #a5d5bb;
        }
        &-error {
            background-color: #e0b8c1;
        }
    }
    //Animations
    &-enter {
        opacity: .01;
        &-active {
            opacity: .85;
            transition: opacity 250ms ease-in;
        }
    }
    //Animations
    &-exit {
        max-height: 500px;
        &-active {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 0;
            padding: 0 1em;
            transition: max-height 0.5s cubic-bezier(0, 1, 0, 1), margin 0.5s cubic-bezier(0, 1, 0, 1), padding 0.25s cubic-bezier(0, 1, 0, 1);
        }
    }

}