
#pending-undelegation {
    .pending-undelegation {
        &-summary {
            display: flex;
            margin-bottom: 1rem;
            padding-bottom: 2rem;
            border-bottom: 0.25px solid @darker-grey;
        }
        &-list {
            padding-left: 0;
        }

        &-item {
            margin-bottom: .8rem;
        }
    }
}

#slashed-tokens {
    h5 {
        margin-bottom: 2rem;
        span {
            margin-left: 2rem;
        }
    }

    .slashed-tokens-list {
        padding-left: 0;
        
        li > .details {
            margin-right: 1rem;
        }
    }
}