.rewards-wrapper {
    flex-direction: column-reverse !important;
    .rewards-history {
        width: 100%;
    }

    .group-items {
        margin-bottom: 1.5rem;
        width: 100%;
        align-self: unset;
    }
}

.rewards-balance {
    padding: 2rem;
    margin-bottom: 1.5rem;
    h2 {
        color: @primary-color;
        letter-spacing: -1px;
    }
    h6 {
        letter-spacing: .05rem;
        font-variant: small-caps;
    }
}

.group-items {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.see-all-btn {
    width: auto;
    align-self: center;
}

.group-item {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid @color-grey-70;
    padding: .5rem 0;
    transition: transform 420ms cubic-bezier( .165, .84, .44, 1);

    &:last-of-type {
        margin-bottom: 1rem;
        border: none;
    }

    .group-key, .group-reward {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: flex-start;
        
        .address-shortcut, .reward-value {
            font-size: 1.5rem;
            color: @color-black;
        }
        
        span {
            font-size: 0.8rem;
            color: @color-grey-30;
        }
        
    }

    button {
        flex-basis: 100%;
        margin-top: 1rem;
    }

    &:hover {
        transform: scale(1.005);
    }
}

@media screen and (min-width: 1100px) {
    .rewards-wrapper {
        flex-direction: row !important;
        justify-content: space-between;
        
        .rewards-history {
            flex-basis: 30%;
            align-self: flex-start;
            margin-right: 1rem;
        }
        .group-items {
            align-self: flex-start;
            flex-basis: 70%;
        }
    }

    .group-item {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;

        .group-reward, .group-key {
            flex-basis: auto;
            align-items: normal;
        }
    
        button {
            flex-basis: auto;
            margin-top: 0;
        }
    
        .group-key {
            span {
                align-self: flex-start;
            }
        }
        span {
            padding-left: .5rem;
            &.reward-currency {
                align-self: flex-end;
            }
        }

        .group-reward {
            align-items: flex-end;
        }
    }

    .see-all-btn {
        width: 400px;
    }
}
