
.delegate-stake-form {
    flex-basis: 100%;

   .tabs {
       margin-top: 1rem;
       .tab {
           padding: 1.5rem 0;
           display: flex;
           justify-content: center;
           align-items: center;
           flex: 1;
           &:hover {
               cursor: pointer;
           }
           &.active {
                position: relative;
                font-weight: bold;
                border: 1px solid @grey;
                border-bottom: none;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background: @aqua-marine;
                }
            }
            &.inactive {
                border-bottom: 1px solid @grey;
                background: #E6E6E6;
                padding-left: 6px;
                background-clip: border-box;
                position: relative;
                &:before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 5px;
                    background: @white;
                }
                &:first-of-type {
                    &:before {
                        left: calc(100% - 5px);
                    }
                }
            }
    
       }
    }
   
    .input-wrapper {
        border: 1px solid @grey;
        border-top: 0;
        padding: 1.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;

        .progress-bar-wrapper {
            margin-bottom: 0;
        }
    }
}

#tokens-overview {
    flex-basis: 100%;
    align-self: flex-start;
}

@media screen and (min-width: 750px) {
    #tokens-overview {
        flex-basis: 40%;
    }

    .delegate-stake-form {
        flex-basis: 58%;
}