@import (inline) "fonts.css";
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: @black;
  line-height: 1.44;

  @media @tablet-up {
    line-height: 1.79;
  }
}

h1, .h1 {
  font-size: 62px;
}

h2, .h2 {
  font-size: 50px;
}

h3, .h3 {
  font-size: 32px;
}

h4, .h4 {
  font-size: 22px;
}

h6, .h6 {
  font-size: 20px;
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  line-height: 1.38;
  font-weight: 800;
}

small, .small {
  font-size: 14px;
  line-height: 1.38;
}

@media @mobile {
  h1, .h1,
  h2, .h2,
  h3, .h3 {
    font-size: 30px;
    line-height: 1.33;
  }

  h2, .h2 {
    margin-bottom: 50px;
  }
}

p {
  margin: 0 0 1.4em;
}

a {
  color: @link-color;
}

.small-title {
  font-size: 16px;
  font-weight: 500;
}
