.web3 {
    display: flex;
    align-items: center;
    justify-content: center;
  
    &-status {
      font-size: 0.9rem;
      font-weight: 500;
      line-height: 1.5rem;
      font-style: normal;
      padding: .3rem .8rem;
      text-align: left;
      border: 1px solid black ;

      .title {
        margin-right: 1.3rem;
      }

      .sub-title {
        font-size: 0.75rem;
        font-weight: normal;
        line-height: 0.8rem;
      }

      &.success {
        background: @mint;
        color: @green;
        border-color: @aqua-marine;
      }
      &.loading {
        color: #67598a;
        border-color: #67598a;
      }
      &.alert {
        color: @black;
        background: @pink;
        border-color: @red;
        margin-bottom: 0;
        border-radius: 0;
        a {
          margin-left: 1.3rem;
          padding: .6rem;
          font-size: .75rem !important;
          color: @rose-pink;
          text-decoration: none;
        }
      }
      &.notify {
        color: #cda48d;
        border-color: #cda48d;
        & > span {
          text-decoration: underline;
          transition: color .2s ease-in;
          &:hover {
              cursor: pointer;
              color: darken(#cda48d, 2%);
          }
        }
      }
    }
  }