name: Solidity ECDSA

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
    paths:
      - "solidity/ecdsa/**"
  pull_request:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment for workflow execution"
        required: false
        default: "dev"
      upstream_builds:
        description: "Upstream builds"
        required: false
      upstream_ref:
        description: "Git reference to checkout (e.g. branch name)"
        required: false
        default: "main"

jobs:
  contracts-detect-changes:
    runs-on: ubuntu-latest
    outputs:
      path-filter: ${{ steps.filter.outputs.path-filter }}
    steps:
      - uses: actions/checkout@v2
        if: github.event_name == 'pull_request'

      - uses: dorny/paths-filter@v2
        if: github.event_name == 'pull_request'
        id: filter
        with:
          filters: |
            path-filter:
              - './solidity/ecdsa/**'

  contracts-lint:
    needs: contracts-detect-changes
    if: |
      github.event_name == 'push'
        || needs.contracts-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Lint
        run: yarn lint

  contracts-slither:
    needs: contracts-detect-changes
    if: |
      github.event_name == 'push'
        || needs.contracts-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock

      - uses: actions/setup-python@v2
        with:
          python-version: 3.8.5

      - name: Install Solidity
        env:
          SOLC_VERSION: 0.8.9 # according to solidity.version in hardhat.config.ts
        run: |
          pip3 install solc-select
          solc-select install $SOLC_VERSION
          solc-select use $SOLC_VERSION

      - name: Install Slither
        env:
          SLITHER_VERSION: 0.8.3
        run: pip3 install slither-analyzer==$SLITHER_VERSION

      - name: Install dependencies
        run: yarn install

      # As a workaround for a slither issue https://github.com/crytic/slither/issues/1140
      # we disable compilation of dependencies when running slither.
      - name: Run Slither
        run: SKIP_DEPENDENCY_COMPILER=true slither .

  contracts-build-and-test:
    needs: contracts-detect-changes
    if: |
      github.event_name != 'pull_request'
        || needs.contracts-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Build solidity contracts
        run: yarn build

      - name: Run tests
        run: yarn test

  contracts-deployment-dry-run:
    needs: contracts-detect-changes
    if: |
      github.event_name != 'pull_request'
        || needs.contracts-detect-changes.outputs.path-filter == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Deploy contracts
        run: yarn deploy:test

  contracts-deployment-testnet:
    needs: [contracts-detect-changes, contracts-build-and-test]
    if: |
      github.event_name == 'workflow_dispatch'
        && github.event.inputs.environment == 'goerli'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Get upstream packages versions
        uses: keep-network/ci/actions/upstream-builds-query@v1
        id: upstream-builds-query
        with:
          upstream-builds: ${{ github.event.inputs.upstream_builds }}
          query: |
            solidity-contracts-version = github.com/threshold-network/solidity-contracts#version
            random-beacon-version = github.com/keep-network/keep-core/solidity/random-beacon#version

      - name: Resolve latest contracts
        run: |
          yarn upgrade \
            @threshold-network/solidity-contracts@${{ steps.upstream-builds-query.outputs.solidity-contracts-version }} \
            @keep-network/random-beacon@${{ steps.upstream-builds-query.outputs.random-beacon-version }} \
            @keep-network/sortition-pools

      - name: Configure tenderly
        env:
          TENDERLY_TOKEN: ${{ secrets.TENDERLY_TOKEN }}
        run: ./config_tenderly.sh
      
      - name: Deploy contracts
        env:
          CHAIN_API_URL: ${{ secrets.GOERLI_ETH_HOSTNAME_HTTP }}
          CONTRACT_OWNER_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOERLI_ETH_CONTRACT_OWNER_PRIVATE_KEY }}
        run: yarn deploy --network ${{ github.event.inputs.environment }}

      - name: Bump up package version
        id: npm-version-bump
        uses: keep-network/npm-version-bump@v2
        with:
          work-dir: solidity/ecdsa
          environment: ${{ github.event.inputs.environment }}
          branch: ${{ github.ref }}
          commit: ${{ github.sha }}

      - name: Publish to npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        # TODO: remove `--dry-run` before merge to main
        run: npm publish --access=public --tag ${{ github.event.inputs.environment }} --network=${{ github.event.inputs.environment }} --dry-run

      # TODO: restore commented out `uses` config before merge to `main``
      - name: Notify CI about completion of the workflow
        # uses: keep-network/ci/actions/notify-workflow-completed@v1
        uses: keep-network/ci/actions/notify-workflow-completed@ci-goerli
        env:
          GITHUB_TOKEN: ${{ secrets.CI_GITHUB_TOKEN }}
        with:
          module: "github.com/keep-network/keep-core/solidity/ecdsa"
          url: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
          environment: ${{ github.event.inputs.environment }}
          upstream_builds: ${{ github.event.inputs.upstream_builds }}
          upstream_ref: ${{ github.event.inputs.upstream_ref }}
          version: ${{ steps.npm-version-bump.outputs.version }}

      - name: Upload files needed for etherscan verification
        uses: actions/upload-artifact@v2
        with:
          name: Artifacts for etherscan verifcation
          path: |
            ./solidity/ecdsa/deployments
            ./solidity/ecdsa/package.json
            ./solidity/ecdsa/yarn.lock

  contracts-etherscan-verification:
    needs: [contracts-deployment-testnet]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./solidity/ecdsa
    steps:
      - uses: actions/checkout@v2

      - name: Download files needed for etherscan verification
        uses: actions/download-artifact@v2
        with:
          name: Artifacts for etherscan verifcation

      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
          cache: "yarn"
          cache-dependency-path: solidity/ecdsa/yarn.lock

      - name: Install needed dependencies
        run: yarn install --frozen-lockfile

      # If we don't remove the contracts from `node-modules`, the
      # `etherscan-verify` plugins tries to verify them, which is not desired.
      - name: Prepare for verification on Etherscan
        run: |
          rm -rf ./node_modules/@keep-network/keep-core
          rm -rf ./node_modules/@keep-network/random-beacon
          rm -rf ./node_modules/@keep-network/sortition-pools
          rm -rf ./node_modules/@threshold-network/solidity-contracts
          rm -rf ./external/npm

      - name: Verify contracts on Etherscan
        env:
          ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
          CHAIN_API_URL: ${{ secrets.GOERLI_ETH_HOSTNAME_HTTP }}
        run: |
          yarn run hardhat --network ${{ github.event.inputs.environment }} \
            etherscan-verify --license GPL-3.0 --force-license
