name: Docs

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - "solidity/**"
      - "!solidity/dashboard/**"
  pull_request:
  workflow_dispatch:

jobs:
  docs-detect-changes:
    runs-on: ubuntu-latest
    outputs:
      path-filter: ${{ steps.filter.outputs.path-filter }}
    steps:
      - uses: actions/checkout@v2
        if: github.event_name == 'pull_request' 
      - uses: dorny/paths-filter@v2
        if: github.event_name == 'pull_request' 
        id: filter
        with:
          filters: | # TODO: Remove '|(.github/workflows/docs.yml)' once workflow gets tested
            path-filter:
              - './(((docs|(solidity/!dashboard))/**)|(.github/workflows/docs.yml))'

  docs-tex:
    runs-on: ubuntu-latest
    container: keepnetwork/texlive:3
    needs: docs-detect-changes
    if: |
      github.event_name != 'pull_request'
        || needs.docs-detect-changes.outputs.path-filter == 'true'
    defaults:
      run:
        working-directory: ./docs
    env:
      DOCS_DIR: ${{ github.workspace }}/tmp/docs
    steps:
      - uses: actions/checkout@v2

      # Step generates files based on Makefile config. Current config produces
      # a number of .png files, which are then used to generate 
      # relay-states.pdf. We want to publish only the resulting .pdf file.
      - name: Generate TeX document files
        run: |
          make clean
          make docs
          mkdir -p $DOCS_DIR
          mv relay-states.pdf $DOCS_DIR

      # A push event is a master merge; deploy to primary bucket.
      - if: github.event_name == 'push'
        name: Upload generated files
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core-wip2 # TODO: remove `-wip2` after tests
          build-folder: tmp/docs

      # A pull_request event is a PR; deploy to preview bucket.
      - if: github.event_name == 'pull_request'
        name: Upload preview of generated files
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core/${{ github.head_ref }}-wip2 # TODO: remove `-wip2` after tests
          build-folder: tmp/docs
    
  docs-solidity:
    runs-on: ubuntu-latest
    needs: docs-detect-changes
    continue-on-error: true
    if: |
      github.event_name != 'pull_request'
        || needs.docs-detect-changes.outputs.path-filter == 'true'
    env:
      SOLIDITY_DOCS_DIR: ${{ github.workspace }}/docs/solidity
    steps:
      - uses: actions/checkout@v2

      - name: Generate solidity docs
        working-directory: ./solidity
        run: |
          npm ci
          npx truffle compile
          mkdir -p $SOLIDITY_DOCS_DIR
          node scripts/generate-api-docs.js > $SOLIDITY_DOCS_DIR/index.adoc

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: Solidity Docs
          path: ${{ env.SOLIDITY_DOCS_DIR }}/index.adoc

  docs-html:
    runs-on: ubuntu-latest
    needs: [docs-detect-changes, docs-solidity]
    steps:
      - uses: actions/checkout@v2

      - name: Download a Build Artifact
        uses: actions/download-artifact@v2
        continue-on-error: true
        with:
          name: Solidity Docs
          path: ${{ github.workspace }}/docs/solidity

      - name: Build HTML docs
        id: html
        uses: thesis/asciidoctor-action@v1.0.1
        with:
          files: 'docs/*.adoc docs/**/*.adoc'
          args: '-a revdate=`date +%Y-%m-%d` --failure-level=ERROR'

      # A push event is a master merge; deploy to primary bucket.
      - if: github.event_name == 'push'
        name: Upload asciidocs
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core-wip2 # TODO: remove `-wip2` after tests
          build-folder: ${{ steps.html.outputs.asciidoctor-artifacts }}/docs

      # A pull_request event is a PR; deploy to preview bucket.
      - if: github.event_name == 'pull_request'
        name: Upload asciidocs preview
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core/${{ github.head_ref }}-wip2 # TODO: remove `-wip2` after tests
          build-folder: ${{ steps.html.outputs.asciidoctor-artifacts }}/docs

      - name: Upload a Build Artifact # TODO: Remove this after tests finished
        uses: actions/upload-artifact@v2
        with:
          name: HTML Docs
          path: ${{ steps.html.outputs.asciidoctor-artifacts }}/docs

  docs-pdf:
    runs-on: ubuntu-latest
    needs: [docs-detect-changes, docs-solidity]
    steps:
      - uses: actions/checkout@v2

      - name: Download a Build Artifact
        uses: actions/download-artifact@v2
        continue-on-error: true
        with:
          name: Solidity Docs
          path: ${{ github.workspace }}/docs/solidity

      - name: Build PDF docs
        id: pdf
        uses: thesis/asciidoctor-action@v1.0.1
        with:
          files: 'docs/*.adoc docs/**/*.adoc'
          format: pdf
          args: '-a revdate=`date +%Y-%m-%d` --failure-level=ERROR'

      # A push event is a master merge; deploy to primary bucket.
      - if: github.event_name == 'push'
        name: Upload asciidocs
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core-wip2 # TODO: remove `-wip2` after tests
          build-folder: ${{ steps.pdf.outputs.asciidoctor-artifacts }}/docs

      # A pull_request event is a PR; deploy to preview bucket.
      - if: github.event_name == 'pull_request'
        name: Upload asciidocs preview
        uses: thesis/gcp-storage-bucket-action@v3.1.0
        with:
          service-key: ${{ secrets.DOCS_KEEP_NETWORK_UPLOADER_SERVICE_KEY_JSON }}
          project: keep-test
          bucket-name: docs.keep.network
          bucket-path: core/${{ github.head_ref }}-wip2 # TODO: remove `-wip2` after tests
          build-folder: ${{ steps.pdf.outputs.asciidoctor-artifacts }}/docs

      - name: Upload a Build Artifact # TODO: Remove this after tests finished
        uses: actions/upload-artifact@v2
        with:
          name: PDF Docs
          path: ${{ steps.pdf.outputs.asciidoctor-artifacts }}/docs